<form id='sending_tweet_form_id' action="/tweet" method="post">
  <input type="text" name="tweet_body" placeholder="Inset Tweet Here">
  <input type="submit" value"Tweet It!">
</form>


  <h1>Tweet For LiveItUp227</h1>

  <div id='tweets' />
